* {
  box-sizing: border-box;
}

.header {
  background-color: rgba(225, 232, 235, 0.534);
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__left-content {
    a {
      color: rgb(12, 23, 126);
      font-size: 30px;
      text-decoration: none;
      padding-left: 20px;
    }
  }
  &__right-content {
    a {
    text-decoration: none;
    color: black;
    margin-right: 35px;
    }
  }
}

.contents {
  // width: 100vw;
  &__fv-section {
    height: 450px;
    background-image: url(background-image4.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    padding-bottom: 100px;
    &__bottom {
      margin: 0 auto;
      &__artist {
        display: flex;
        &__input {
          width: 300px;
          border: none;
          border-radius: 5px;
          height: 30px;
          line-height: 30px;
          font-size: 13px;
          color: #3a3a3a;
          outline: none;
          padding: 0 10px;
          margin-bottom: 10px;
        }
        &__btn {
          width: 50px;
          height: 30px;
          margin-left: 10px;
          font-size: 13px;
          border-radius: 3px;
          border: 1px solid #ccc;
          cursor: pointer;
        }
      }
      &__song-title {
        display: flex;
        &__input {
          width: 300px;
          border: none;
          border-radius: 5px;
          height: 30px;
          line-height: 30px;
          font-size: 13px;
          color: #a0a0a0;
          outline: none;
          padding: 0 10px;
          margin-bottom: 10px;
        }
        &__btn {
          width: 50px;
          height: 30px;
          margin-left: 10px;
          font-size: 13px;
          border-radius: 3px;
          border: 1px solid #ccc;
          cursor: pointer;
        }
      }
    }
  }
  &__main {
    height: 720px;
    width: 900px;
    margin: 0 auto;
    padding: 40px 0 0 60px;
    p {
      text-align: left;
      font-size: 20px;
      border-bottom: 1px solid;
    }
    &__videoes-list {
      margin-top: 50px;
      display: flex;
      flex-wrap: wrap;
      a {
        text-decoration: none;
        color: black;
      }
      &__group {
        display: block;
        display: flex;
        width: 50%;
        padding-bottom: 25px;
        &__label {
          display: flex;
          cursor: pointer;
          &__video {
            img {
              width: 200px;
              height: 150px;
            }
          }
          &__text {
            height: 150px;
            padding-left: 10px;
            &__song-title {
              margin-top: 30px;
            }
            &__artist {
              margin-bottom: 20px;
              font-size: 14px;
            }
            &__created-at {
              font-size: 10px;
            }
            &__user-name {
              font-size: 13px;
            }
          }
        }
      }
    }
    &__paginate {
      text-align: center;
    }
  }
}

.footer {
  background-color: rgba(225, 232, 235, 0.534);
  width: 100%;
  height: 50px;
  margin-top: 10px;
}