* {
  box-sizing: border-box;
}

.show-body {
  &__contents {
    padding-top: 150px;
    padding-bottom: 150px;
    &__box {
      width: 800px;
      margin: 0 auto;
      padding: 20px;
      border: 1px solid #555555;
      &__video {
        text-align: center;
      }
      &__details {
        padding-top: 20px;
        &__song-title {
          font-size: 20px;
        }
        &__created-at {
          font-size: 10px;
          text-align: right;
        }
        &__content {
          font-size: 14px;
        }
      }
      &__bottom {
        padding-top: 15px;
        display: flex;
        font-size: 12px;
        &__btn {
          &__edit {
            text-decoration: none;
            color: #555555;
            margin-right: 5px;
          }
          &__delete {
            text-decoration: none;
            color: #555555;
            margin-left: 5px;
          }
        }
      }
    }
  }
}